h1{ background-color: rgb(138, 76, 65);
    text-align:center;
}

#Heading-section-top{
    color: whitesmoke
}



.font-color-pink{
    color:pink
}

body{
    background-image: url("../IMG/watercolor.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: auto;
}

h2{ text-decoration: underline;
    background-color: rgb(25, 85, 79);
}

.font-size-8{
    font-size: 8rem;

}




.font-roboto{
    font-family: "Noto Sans", sans-serif;
    text-indent: 10px !important;
    text-align: center;
    
}

a:link{
    color: purple;
}

a:hover{
    color: yellow
}

a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
}

div{
    padding: 25px 50px 75px 100px;
}

@media (min-width:767px){
    body{
        background-color: lightblue;
    }

}