* {
    box-sizing: border-box; /* Ensures that padding and border are included in an element's total width and height */
}

body, html {
    margin: 0;
    padding: 0;
}

html {
   scroll-behavior: smooth; /* Enables smooth scrolling */
}

section {
   scroll-margin-top: 100px; 
}


/* Header */
.header{ 
    background-color: rgb(213, 223, 180);
    position: fixed;
    top: 0;
    left: 0;
    text-align:left;
    width: 100%;
    padding: 30px 12%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 1000; /* High z-index ensures the header stays above other content. */

}

.navbar {
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
    gap: 10px;
}

.hamburger {
    display: none; /* Hide by default */
    font-size: 36px;
    background: none;
    border: none;
    cursor: pointer;
    color: #333;
}

@media (max-width: 768px) {
    .navbar {
        display: none; /* Hide navigation links by default */
        flex-direction: column; /* Stack links vertically */
        position: absolute;
        top: 100%;
        right: 0;
        background: rgb(243, 245, 229); /* Background for the dropdown */
        width: 100%;
        padding: 10px;
        z-index: 1000;
    }

    .navbar.active {
        display: flex; /* Show menu when active */
    }

    .hamburger {
        display: block; /* Show hamburger button on smaller screens */
    }
}


.header a{
    color: #333; 
    text-decoration: none; 
    font-weight: bold;
    margin-right: 5px;
    font-family: "Lora", serif;
}

.logo{
    font-size: 40px;
    color: rgb(216, 163, 115);
    font-weight: 600;
    transition: 0.3s ease;
}

.logo:hover{
    color: rgb(254, 250, 224);
    text-shadow: 0 0 25px rgb(107, 112, 92),
                 0 0 50px rgb(107, 112, 92);
    transform: scale(1.1);
}

.navbar a{
    font-size: 20px;
    color: rgb(63, 66, 56);
    font-weight: bold;
    margin: 0 10px;
    text-align: center;
    transition: 0.3 ease;
}

.navbar a:hover{
    color: rgb(254, 250, 224);
    text-shadow: 0 0 15px rgb(107, 112, 92),
                 0 0 25px rgb(107, 112, 92);
    transform: scale(1.1);
}

.contact-link{
    display: inline-block;
    padding: 10px 15px; /* Add appropriate padding */
    background-color: rgb(254, 250, 224); /* Maintain the button's color */
    border: 2px solid transparent;
    border-radius: 8px;
    color: rgb(63, 66, 56); /* Consistent font color */
    font-size: 18px;
    text-align: center; /* Center align text */
    font-weight: bold;
    margin: 10px 0; /* Add spacing between the links */
    transition: 0.3s ease; /* Smooth hover effect */
}

.home-container{
    width: 100%;
    min-height: 100vh;
    background-color: rgba(255, 252, 232);
    display: flex;
    align-items: center;
    gap: 7em;
    padding: 30px 12% 0;
    font-family: "Lora", serif;
}

.home-content{
    max-width: 800px;
    color: rgb(63, 66, 56);
}

.home-content h3{
    font-size: 42px;
    color: rgb(63, 66, 56);
}

.home-content h1{
    font-size: 52px;
    line-height: 1.2;
    color: rgb(63, 66, 56);
}

.home-content p{
    font-size: 18px;
    margin: 25px 0 30px;
    color: rgb(63, 66, 56);
}

.img-box img{
    border-radius: 30%;
    width: 100%; /* Change to a percentage or fixed value */
    max-width: 900px; /* Limit the maximum width of the image */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensure it doesn't overflow */
    margin: 0 auto; /* Center the image horizontally */
}

.about-container{
    width: 100%;
    font-family: "Lora", serif;
    background-color: rgb(243, 245, 229);
    align-items: center;
    gap: 7em;
    padding: 50px 12% 30px;
}

.about-content{
    max-width: 100%;
    color: rgb(63, 66, 56);
    margin-bottom: 50px;
}

.about-content p{
    font-size: 18px;
    margin: 25px 0 30px;
    color: rgb(63, 66, 56);
}

.heading{
    max-width: 800px;
    margin: 10px 0 10px;
    color: rgb(63, 66, 56);
}

.language-content {
    display: flex; 
    gap: 20px;
    list-style-type: disc; 
    padding: 0;
    margin: 25px 0 30px; 

}

.language-content li{
    font-size: 18px;
    color: rgb(63, 66, 56);
    margin: 0px 0;
  }


.interests-container, .language-container{
    flex: 1; /* Ensure equal space for both sections */
    min-width: 0px; /* Prevent sections from becoming too narrow */
}



.interests-content {
    margin: 0; /* Reset any margins */
    display: flex;
    flex-direction: column; /* Stack items vertically */
    gap: 15px; /* Add consistent space between items */
  
}


.interest-item {
    font-size: 18px;
    color: rgb(63, 66, 56);
    text-decoration: none;
    position: relative;
    font-weight: bold;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}
  
.interest-item::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    height: 2px;
    background-color: rgb(142, 202, 159);
    opacity: 0;
    transform: scaleX(0);
    transition: transform 0.3s ease, opacity 0.3s ease;
}
  
.interest-item:hover {
    color: rgb(108, 175, 110); /* Change color on hover */
    text-shadow: 0 0 10px rgb(142, 202, 159);
}
  
.interest-item:hover::after {
    transform: scaleX(1);
    opacity: 1;
}

.education-schoolclub-container {
    display: flex; 
    flex-wrap: nowrap; 
    background-color: rgb(243, 245, 229);
    gap: 0px; 
    justify-content: space-between; 
    padding: 50px 12% 30px;
}
  
.education-content,
.school-club-content {  
    min-width: 0; 
    width: 100%;
}

  
.education-content h2,
.school-club-content h2 {
    font-size: 24px;
    margin-bottom: 25px;
    color: rgb(63, 66, 56);
}

  
.timeline-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}
  
.timeline-content {
    border-left: 2px solid rgb(102, 107, 90);
    padding-left: 20px;
}
  
.timeline-icon {
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    background-color: rgb(255, 252, 232);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
  
  

.timeline-content h3 {
    font-size: 20px;
    margin: 5px;
    color: rgb(63, 66, 56);;
}
  
.timeline-content p {
    font-size: 18px;
    margin: 5px;
    color: rgb(63, 66, 56);;
}

.date {
    font-size: 16px;
    color: rgb(107, 112, 92);
    
    text-align: right;
    margin: 5px;
}



.experience-container {
    width: 100%;
    background-color: rgb(255, 252, 232);
    padding: 50px 12%;
    font-family: "Lora", serif;
}

.experience-container h2{
    margin-bottom: 25px;
}

.experience-card {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Adds maximum horizontal space between the elements */
    background-color: rgb(255, 255, 255);
    gap: 24px;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.company_logo {
    flex-shrink: 0;  /* Prevent logo from shrinking */
    width: 80px;  /* Fixed width */
    height: 80px;  /* Fixed height */
    display: flex;  /* Added for better image centering */
    align-items: center;
    justify-content: center; 
}

.company_logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.company_content {
    flex: 1;
    min-width: 0;
    padding-right: 24px;
}

.company_content h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
    color: rgb(63, 66, 56);
}

.company_content p {
    font-size: 16px;
    color: rgb(107, 112, 92);
    margin-bottom: 10px;
}

.company_content ul {
    list-style: disc;
    margin-left: 10px;
    color: rgb(63, 66, 56);
    padding-inline-start: 30px;
}




.skills-container {
    width: 100%;
    padding: 50px 12%;
    font-family: "Lora", serif;
    background-color: rgb(243, 245, 229); 
}



.skills-container p {
    font-size: 18px;
    margin: 15px 0 25px;
    color: rgb(107, 112, 92); 
}

/* Arranges skill items in a two-column grid for clarity and organization */
.skills-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Creates 2 columns, where each column takes up an equal share of the available space */
    gap: 50px;
}

.skill {
    display: flex;
    align-items: center;
    gap: 10px;
}

.skill span {
    flex-basis: 20%; /* take up 25% of the container's size */
    font-size: 18px;
    font-weight: bold;
    color: rgb(63, 66, 56); 
}

.skill-bar {
    flex-grow: 1;
    height: 8px;
    background-color: rgb(220, 220, 220);
    border-radius: 4px;
    overflow: hidden;
    position: relative;
}

.skill-bar .progress {
    height: 100%;
    background-color: rgba(79, 147, 71, 0.746);
    border-radius: 4px;
    transition: width 0.5s ease-in-out;
}

.percentage {
    flex-basis: 10%;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    color: rgb(63, 66, 56); /* Text color */
}

.certifications-container {
    width: 100%;
    padding: 50px 12%;
    background-color: rgb(243, 245, 229);
    font-family: "Lora", serif;
}
  
.certifications-container h2 {
    font-size: 24px;
    margin-bottom: 25px;
    color: rgb(63, 66, 56);
}
  
.certifications-content {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
  
.certification-card {
    position: relative;
    width: 300px; 
    height: 200px; 
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
  
.certification-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}
  
.certification-card:hover .certification-image {
    transform: scale(1.1);
}
  
.overlay {
    position: absolute;
    font-size: 16px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(8, 73, 15, 0.7);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}
  
.certification-card:hover .overlay {
    opacity: 1;
}
  

  /* Portfolio Section */
.portfolio-container {
    width: 100%;
    padding: 50px 12%;
    background-color: rgb(243, 245, 229); 
    font-family: "Lora", serif;
}
  
.portfolio-container h2 {
    margin-bottom: 25px;
}
  
.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}
  
  /* Portfolio Item */
.portfolio-item {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
}
  
  .portfolio-item:hover {
    transform: scale(1.05);
  }
  
  /* Thumbnail */
.portfolio-thumbnail {
    position: relative;
    width: 100%;
    height: 180px;
    overflow: hidden;
}
  
.portfolio-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
  
  /* Content */
.portfolio-content {
    padding: 15px;
}
  
.portfolio-content h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: rgb(63, 66, 56);
}
  
.portfolio-content p {
    font-size: 16px;
    color: rgb(107, 112, 92);
    margin-bottom: 10px;
}
  
.portfolio-content .date {
    font-size: 16px;
    color: rgb(42, 78, 38, 0.561);
    margin-bottom: 15px;
    display: block;
}
  
.download-btn {
    display: inline-block;
    padding: 8px 12px;
    background-color: rgb(125, 94, 65, 0.693);
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
  
.download-btn:hover {
    background-color: rgb(42, 78, 38, 0.561);
}
  

  /* Contact Section */
.contact-container {
    width: 100%;
    padding: 50px 12%;
    text-align: center;
    font-family: "Lora", serif;
    background-color: rgba(42, 78, 38, 0.561); 
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers the content horizontally */
    justify-content: center; /* Centers the content vertically */
}
  
.contact-container h2 {
    font-size: 36px;
    margin-bottom: 5px;
    color: rgb(255, 255, 255); 
}
  
.contact-container p {
    font-size: 18px;
    margin-bottom: 20px;
    color: rgb(2255, 255, 255);
}
  
  
  /* Social Links */
.social-links {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
  
.social-link img {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease;
}
  
.social-link:hover img {
    transform: scale(1.2);
}
  

  /* Email Box */
.email-container {
    margin: 20px auto;
    text-align: center;
    font-size: 18px;
    color: rgb(255, 255, 255); 
    font-family: "Lora", serif;
}

  
.email-box {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    color: rgb(63, 66, 56);
    border: 2px solid rgba(45, 87, 42, 0.847);
    padding: 10px 15px;
    border-radius: 15px;
    background-color: #fff;
}
  
.clipboard-btn {
    background-color: rgba(125, 94, 65, 0.693);
    font-family: "Lora", serif;
    color: #fff;
    border: none;
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
.clipboard-btn:hover {
    background-color: rgb(42, 78, 38, 0.561);
}
