* {
    box-sizing: border-box;
}

.header{ background-color: rgb(204, 213, 174);
    position: fixed;
    top: 0;
    left: 0;
    text-align:left;
    width: 100%;
    padding: 30px 12%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  

}

.header a{
    color: #333; 
    text-decoration: none; 
    font-weight: bold;
    margin-right: 5px;
}

.logo{
    font-size: 30px;
    color: rgb(216, 163, 115);
    font-weight: 600;
    transition: 0.3s ease;
}

.logo:hover{
    color: rgb(254, 250, 224);
    text-shadow: 0 0 25px rgb(107, 112, 92),
                 0 0 50px rgb(107, 112, 92);
    transform: scale(1.1);
}

.navbar a{
    font-size: 18px;
    color: #333;
    font-weight: bold;
    margin: 0 10px;
    transition: 0.3 ease;
}

.navbar a:hover{
    color: rgb(254, 250, 224);
    text-shadow: 0 0 15px rgb(107, 112, 92),
                 0 0 25px rgb(107, 112, 92);
    transform: scale(1.1);
}

.contact-link{
    padding: 8px 12px;
    background-color: rgb(254, 250, 224);
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 16px;
    margin-left: auto; 
    color: #333;
    font-size: 18px;
    font-weight: 6;
    font-weight: bold;
    transition: 0.3s ease;
}

.home{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(255, 252, 232);
    display: flex;
    align-items: center;
    gap: 7em;
    padding: 30px 12% 0;
}

.home-content{
    max-width: 800px;
}

.home-content h3{
    font-size: 42px;
}

.home-content h1{
    font-size: 62px;
    line-height: 1.2;
}

.home-content p{
    font-size: 18px;
    margin: 25px 0 30px;
}

.img-box img{
    border-radius: 30%;
    width: 550px;
}
